<style>
    #content img{
        max-width: 100%;
    }
    #content{
        max-width: 100%;
        word-break: break-all
    }
</style>

<div class="container">
    <div class="row mt-5">
        
        <div class="col-8" style="max-width: 80%;">
            <% if @project.video_url.include? "https://" %>
            <iframe width="730" height="400" src="<%= @project.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% else %>
            <iframe width="730" height="400" id="myiframe" src="about:blank" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% end %>
            <hr>
            <div id="content">
                <%=  simple_format(@project.content) %>
            </div>
        </div>

        <div class="col-4">
            <div class="card pt-2 pr-2 pl-2">
                <p><b><%= @project.name %></b></p>
                <p><b>募資中</b></p>
                <h2 style="color: red;">NT$ 0</h2>
                <h4>贊助目標: NT$ <%= @project.target_money %></h4>
                <div id="proj-datetime" style="display: none;"><%= @project.deadline.strftime("%Y-%m-%dT%H:%M") %></div>
                <p style="color: red;" id="will_end">募資將於  結束<p>
                <p><b>募資中</b></p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  style="width: 75%"></div>
                </div>
                <br>
                <p>已經有 10 個人贊助</p>
                <br>
            </div>
            <br><hr><br>
            <div class="card p-3">
                <h2>純貢獻</h2>
                <h3>NT$ 100 / 每單位</h3>
                <p>
                純貢獻純貢獻純貢獻純貢獻純貢獻純貢獻純貢獻純貢獻純貢獻純貢獻純貢獻純貢獻
                </p>
                <form method="get" action="/mpg/create_order">
                <div class="form-group">
                    <label for="pure_number">贊助數量</label>
                    <input type="hidden" name="project_id" value="<%= @project.id %>">
                    <input type="hidden" name="order_type" value="pure">
                    <input type="text" class="form-control" id="pure_number" name="quantity" aria-describedby="" placeholder="">
                </div>
                <button type="submit" class="btn btn-info" id="pure_btn">贊助</button>
                </form>
            </div>
            <div class="card p-3 mt-3">
                <h2>普通版</h2>
                <h3>NT$ 100 / 每單位</h3>
                <p>
                普通版普通版普通版普通版普通版普通版普通版普通版普通版普通版普通版普通版
                </p>
                <form method="get" action="/mpg/create_order">
                    <div class="form-group">
                        <label for="ordinary_number">贊助數量</label>
                        <input type="hidden" name="project_id" value="<%= @project.id %>">
                        <input type="hidden" name="order_type" value="ordinary">
                        <input type="text" class="form-control" name="quantity" id="ordinary_number" aria-describedby="" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-info" id="ordinary_btn">贊助</button>
                </form>
            </div>
            <div class="card p-3 mt-3">
                <h2>進階版</h2>
                <h3>NT$ 500 / 每單位</h3>
                <p>
                進階版進階版進階版進階版進階版進階版進階版進階版進階版進階版進階版進階版
                </p>
                <form method="get" action="/mpg/create_order">
                <div class="form-group">
                    <label for="advanced_number">贊助數量</label>
                    <input type="hidden" name="project_id" value="<%= @project.id %>">
                    <input type="hidden" name="order_type" value="advanced">
                    <input type="text" class="form-control" id="advanced_number" name="quantity" aria-describedby="" placeholder="">
                </div>
                <button type="submit" class="btn btn-info" id="advanced_btn">贊助</button>
                </form>
            </div>
            
        </div>
    </div>
    
    
</div>

<script>
var html = "<div align='center'><h3 style='color: red;'>此專案沒有募資影片</h3></div>";

if ( document.getElementById("myiframe") ){
    var iframe = document.getElementById("myiframe");
    iframe.contentWindow.document.open();
    iframe.contentWindow.document.write(html);
    iframe.contentWindow.document.close();
}


window.onload = function(){
    setInterval(function() {
    var proj_datetime = document.getElementById('proj-datetime');
    var target = new Date(proj_datetime.innerHTML).getTime();     //把日期打在這裡
    var second = (target - Date.now()) / 1000 >> 0;
        $('#will_end').html("募資將於 " + distance(second) + " 結束")
    }, 1000);
}


function distance(x) {

    var day = x / 86400 >> 0;

    var hour;

    if (x < 86400) {
        hour = x / 3600 >> 0;
    } else {
        hour = x % 86400 / 3600 >> 0;
    }

    var minute = x % 3600 / 60 >> 0;
    var second = x % 60;
    if (second >= 0) {
        return day + "天" + hour + "小時" + minute + "分鐘" + second + "秒";
    }
    else {
        return "時間已經過了";
    }

}
</script>